<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>

  <body>
    <%= render 'shared/offcanvas_nav' %>

    <div class="container-fluid">
      <%= render 'shared/breadcrumbs', links: (@breadcrumb_links || []) %>

      <%= yield %>
    </div>
  </body>
</html>
